
footer {
  position: relative;
  width: 100%;
  background: url("/src/assets/svg/footer-svg_2.svg") no-repeat center;
  background-size: cover;

  .footer--content {
    padding: 5% 15% 2% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer--col-1 {
    display: grid;
    gap: 1rem;

    a {
      font-size: var(--font-size-sm);

      &:before {
        content: "* ";

      }
    }
  }

  .footer--col-2 {
    .social-media--channels {
      display: flex;
      gap: 1rem;

      a {
        aspect-ratio: 1;
        height: 5rem;
        border-radius: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          path {
            fill: var(--ftt-primary);
          }
        }
      }
    }
  }

  .footer--col-3 {
    display: grid;
    padding: 3.5rem 4rem 0 4rem;
    gap: 2rem;

    button {
      &:nth-of-type(1) {
        border: .2rem solid var(--ftt-primary);
        background: var(--ftt-primary);

        &:hover {
          background: var(--ftt-black-100);
          border-color: var(--ftt-black-100);
        }
      }

      &:nth-of-type(2) {
        border: .2rem solid var(--ftt-primary);
        background: var(--ftt-secondary);
        color: var(--ftt-primary);

        &:hover {
          background: var(--ftt-tertiary);
          border-color: var(--ftt-tertiary);
          color: var(--ftt-secondary);
        }
      }

    }
  }

  .footer--bottom {
    background: var(--ftt-black-100);
    color: var(--ftt-secondary);
    text-align: center;
    padding: 1rem 0;

    p {
      font-size: var(--font-size-sm);
    }
  }
}