* {
  transition: all 200ms ease;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--ftt-black-100);
}


header {
  .section--nav {
    .nav--logo {
      margin-top: -3rem;
      background: var(--ftt-primary);

      img {
        margin-top: 3rem;
        width: 100%;
      }
    }

    .nav--menu {
      .headline {
        font-size: 3rem;

        &.active {
          color: var(--ftt-secondary);
          border-bottom: .2rem solid var(--ftt-secondary);
          text-shadow: 0 0 25px var(--ftt-secondary);
        }

        &:hover {
          color: var(--ftt-primary);
          border-bottom: .2rem solid var(--ftt-primary);
        }
      }

      .nav--login {
        button {

        }
      }
    }
  }
}

.section--intro {
  position: relative;

  .swiper {
    width: 150rem;
    height: 100rem;

    .swiper-wrapper {
      .swiper-slide {
        background: url(/src/assets/svg/bg-cricle-svg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        .swiper-slide--container {
          display: flex;
          width: 100%;
          height: 100%;
          gap: 2rem;
          justify-content: center;
          align-items: center;

          .swiper-slide--headline {
            text-align: center;
          }
        }
      }
    }
  }
}

.section--free-trial {
  .free-trial--content {
    background: var(--ftt-primary);
    padding: 2rem 4rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    .free-trial--text {
      max-width: 70%;

      p {
        font-size: 3rem;
      }
    }

    .free-trial--cta {
      button {
        padding: 2rem 4rem;
        font-size: 3rem;

        &:hover {
          background: var(--ftt-black-100);
          box-shadow: 0 0 25px var(--ftt-tertiary);
        }
      }
    }
  }
}

.section--monthly-selection{
  h2{
    text-align: center;
  }
  .monthly-selection--selection-preview{
    display: flex;
    justify-content: center;
    .preview--movie{
      width: 4rem;
      height: 7rem;
      background: gray;
    }
  }
}

footer {
  background: var(--ftt-secondary);

  .footer--col-3 {
    button {
      &:nth-of-type(1) {
        border: .2rem solid var(--ftt-primary);
        background: var(--ftt-primary);
      }

      &:nth-of-type(2) {
        border: .2rem solid var(--ftt-primary);
        background: var(--ftt-secondary);
        color: var(--ftt-primary);
      }

    }
  }
}