* {
  transition: all 200ms ease;
}

html {
  box-sizing: border-box;
}

body {
  background: var(--ftt-black-100);
}


header {
  .section--nav {

    .nav--logo {
      margin-top: -3rem;
      background: var(--ftt-primary);

      img {
        margin-top: 3rem;
        width: 100%;
      }
    }

    .nav--menu {
      .headline {
        font-size: 3rem;

        &.active {
          color: var(--ftt-secondary);
          border-bottom: .2rem solid var(--ftt-secondary);
          text-shadow: 0 0 25px var(--ftt-secondary);
        }

        &:hover {
          color: var(--ftt-primary);
          border-bottom: .2rem solid var(--ftt-primary);
        }
      }

      .nav--login {
        button {

        }
      }
    }
    &.desktop{
      display: grid;
      @media screen and (max-width: 800px) {
        display: none;
    }

    }
    &.mobil{
      display: none;

      @media screen and (max-width: 800px) {
   
        display: grid;
        position: fixed;
        align-items: center;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 20% 50%;
        max-width: 80%;
        left: 10%;
        right: 10%;
        top: 0;
        z-index: 101;

        .nav--open{
          opacity: 0;
        }

        &.openNav{
          opacity: 1;
          z-index: 90;
          
          position: fixed;
          background: var(--ftt-primary);

          width: 100vw;
          height: 100vh;
          inset: 0;

          .nav--open{
          opacity: 1  ;
          justify-content: center;
          grid-column: -3 / -2;
          .nav--menu{
            flex-direction: column;
            align-items: center;
          }
          }
        }



        .nav--logo{
          background: transparent;
          display: flex;
          align-items: center;
          width: 80%;
        }
        p{
          font-size: 4rem;
          font-weight: 100;
          text-align: center;
        }
        .nav--burger-menu{
          width: clamp(4rem, 100%, 8rem);
          cursor: pointer;
        }


        
    }

    }
  }
  @media screen and (max-width: 800px) {
  margin-top: 10rem;
  }
}

.section--intro {
  position: relative;

  .swiper {
    width: 150rem;
    height: 100rem;

    .swiper-wrapper {
      .swiper-slide {
        background: url(/src/assets/svg/bg-cricle-svg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        .swiper-slide--container {
          display: flex;
          width: 100%;
          height: 100%;
          gap: 2rem;
          justify-content: center;
          align-items: center;

          .swiper-slide--headline {
            text-align: center;
          }
        }
      }
    }
  }
}

.section--free-trial {
  .free-trial--content {
    background: var(--ftt-primary);
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

    .free-trial--text {
      max-width: 70%;
      padding: 2rem 0 2rem 1rem;;

      p {
        font-size: 3rem;
      }
    }

    .free-trial--cta {
      button {
        padding: 2rem 4rem;
        font-size: 3rem;

        &:hover {
          background: var(--ftt-black-100);
          box-shadow: 0 0 25px var(--ftt-tertiary);
        }
      }
    }
  }
}

.section--monthly-selection {
  h2 {
    text-align: center;
  }

  .monthly-selection--selection-preview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
    justify-content: center;
    gap: 8rem;

    .preview--movie {
      .preview--img {
        border: solid var(--ftt-secondary) 1rem;
        position: relative;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        .hover {
          opacity: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          inset: 0;
          background: rgba(226, 74, 29, .8);;

          .hover--cta-content {
            padding: 80% 10% 10% 10%;

            p {
              font-size: 1.3rem;
            }

            a {
              font-size: 3rem;
              color: var(--ftt-black-100);
            }
          }

          &:hover {
            opacity: 1;
          }

        }
      }

      .preview--text {
        p {
          font-size: 2rem;
          line-height: .5;

          &:first-child {
            font-size: 3rem;
          }
        }
      }
    }
  }

  .selection--cta {
    margin-top: 2rem;
    text-align: center;
  }
}

.section--streaming-info {
  background: url("/src/assets/svg/streaming-info_bg-svg.svg") no-repeat center;
  background-size: 110%;
  background-position-x: -25rem;
  margin: 10rem -20rem 0 -20rem !important;
  padding: 10rem 20rem 0 20rem !important;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

  .streaming-info--img {
    img {
      width: 100%;
    }
  }

  .streaming-info--text {
    h2 {
      margin: 1rem 0;
    }

    p {
      width: 70%;
    }
  }
}

footer {
  position: relative;
  width: 100%;
  background: url("/src/assets/svg/footer-svg_2.svg") no-repeat center;
  background-size: cover;

  .footer--content {
    padding: 5% 15% 2% 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer--col-1 {
    display: grid;
    gap: 1rem;

    a {
      font-size: 1.5rem;
      &:before {
        content: "* ";

      }
    }
  }
  .footer--col-2{
    .social-media--channels{
      display: flex;
      gap: 1rem;
      a{
        aspect-ratio: 1;
        height: 5rem;
        border-radius: .8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          path{
            fill: var(--ftt-primary);
          }
        }
      }
    }
  }
  .footer--col-3 {
    display: grid;
    padding: 3.5rem 4rem 0 4rem;
    gap: 2rem;
    button {
      &:nth-of-type(1) {
        border: .2rem solid var(--ftt-primary);
        background: var(--ftt-primary);
        &:hover{
          background: var(--ftt-black-100);
          border-color: var(--ftt-black-100);
        }
      }

      &:nth-of-type(2) {
        border: .2rem solid var(--ftt-primary);
        background: var(--ftt-secondary);
        color: var(--ftt-primary);
        &:hover{
          background: var(--ftt-tertiary);
          border-color: var(--ftt-tertiary);
          color: var(--ftt-secondary);
        }
      }

    }
  }

  .footer--bottom {
    background: var(--ftt-black-100);
    color: var(--ftt-secondary);
    text-align: center;
    padding: 1rem 0;

    p {
      font-size: 1.2rem;
    }
  }
}