.swiper {
  width: 600px;
  height: 300px;
}

button {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 1rem 3.5rem;

  &.dark:hover {
    box-shadow: 0 0 25px var(--ftt-primary);
    background: var(--ftt-primary);
  }
  &.light:hover {
    color: var(--ftt-secondary);
    box-shadow: 0 0 25px var(--ftt-primary);
    background: var(--ftt-primary);
  }
  &:hover{
    transform: scale(105%);
  }
}



.intro--container-slide {
  height: 700px;
  position: relative;

  .slide--background {
    position: absolute;
    inset: 0;
    z-index: -1;

    svg {
      width: 100%;
      height: 100%;
    }
  }
  

  .slide--content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 8% 18%;
    justify-content: center;
    align-items: center;

    .slide-content--description {
      max-width: 30rem;
    }

    img {
      object-fit: contain;
      width: 100%;
      max-width: 20rem;

    }
  }
}