button {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 1rem 3.5rem;
  font-size: 3rem;
  font-family: filmotype-maxwell;

  &.dark:hover {
    box-shadow: 0 0 25px var(--ftt-primary);
    background: var(--ftt-primary);
  }
  &.light:hover {
    color: var(--ftt-secondary);
    box-shadow: 0 0 25px var(--ftt-primary);
    background: var(--ftt-primary);
  }
  &:hover{
    transform: scale(105%);
  }
}



.swiper{
   .swiper-slide{
     background-color: var(--ftt-secondary);
   }
}
 .swiper {

  aspect-ratio: 2 / 1;
  box-shadow: 0 0 100px var(--ftt-primary);
  
  border-radius: 2.5rem;
  display: flex;
  min-height: 40rem;
  width: 100%;
  .intro--container-slide{
    background: center / cover no-repeat;
  background-image: var(--ftt-secondary);
    
      .slide--content {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,0.8547794117647058) 11%, rgba(0,0,0,0) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5%;
    
        .slide-content--text{
          width: min(80%, 450px);
          h2, h3{
            margin: 0;
          }
          p {

            @media only screen and (max-width: 800px) {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;  
              overflow: hidden;
            }
          }
        }
      }
  }
  
}