html {

}

header {
  .section--nav {
    
    display: flex;
    justify-content: center;

    .nav--menu {
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
    }
  }
}

body {
  overflow-x: hidden;
  main {
    .section--intro {

    }

    .wrapper {
      display: grid;
      justify-content: center;
      width: 100%;
      grid-template-columns: minmax(800px, 80%);

      section {
        margin: 5rem 0;
      }
      @media screen and (max-width: 800px) {
          grid-template-columns: minmax(320px, 95%);
      }
    }
  }
}

