html {
  overflow-x: hidden;
  body{
    overflow-x: hidden;
    .wrapper{
      width: clamp(800px, 80vw, 200rem);
      margin: 0 auto;
      > * {
        width: 100%;
      }
    }
    header{
      width: 100vw;
      .wrapper{
        .section--nav{
          &.desktop{
            
            
          }
          &.mobil{
            
          }
        }
      }
    }
    footer{
      
    }
  }
}
  



  // unter 800px
  @media screen and (max-width: 800px) {
    html{
      width: 100vw;
      overflow-x: hidden;
      
      body{
      
          .wrapper{
            width: clamp(320px, 80vw, 80rem);
            margin: 0 auto;
            > * {
              width: 100%;
            }
      
          }
      }
    }

}


