.navbar {
    --navbar-height: 160px;
    position: fixed;
    top: 0;
    left: var(--left);
    z-index: 999;
    height: var(--navbar-height);
    &.scrolled{
        top: -180px;
    }
    &-wrapper {
        display: flex;
        height: 100%;

        > * {
            flex: 0 0 auto;
        }
    }

    &-brand {
        width: fit-content !important;
        height: 100%;
        margin-right: 5%;
        animation: pulsatingLogo 5s ease infinite;

        img {
            height: 100%;
            
        }
    }

    &-wortmarke, &-toggler {
        display: none;
    }

    &-wortmarke {
        width: 50% !important;
    }

    &-toggler {
        width: 50px !important;
        background-color: black;
        border-radius: 50%;
    }


    &-menu {
        width: unset !important;
        flex-grow: 1;
        @media only screen and (min-width: 801px) {
            padding-top: 4rem;
        }
    }

    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &-login {
        box-shadow: 0 0 15px black;
    }

    &-link {
        font-size: clamp(1.5rem, 3.5rem, 5rem);
        text-shadow: 0 0 15px black;

        &.active {
            color: var(--ftt-secondary);
            border-bottom: .2rem solid var(--ftt-secondary);
            text-shadow: 0 0 30px var(--ftt-primary), 0 0 15px rgba(0, 0, 0, 0.7);
        }

        &:hover {
            color: var(--ftt-primary);
            border-bottom: .2rem solid var(--ftt-primary);
        }
    }

    @media only screen and (max-width: 800px) {
        --navbar-height: 70px;
        top: 3.5rem;

        left: calc(var(--left) - 2.5px);
        
        &-wrapper {
            gap: 5%;
            align-items: center;
            justify-content: center;
            isolation: isolate;

            &:after{
                background: black;
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                border-radius: 11rem;
                WIDTH: 80%;
                margin: 0 auto;
                height: 90%;
                top: 50%;
                left: 5%;
                translate: 0 -50%;
            }
        }

        &-brand {
            border-radius: 50%;
            margin: 0;
            img {
                border-radius: 50%;
            }
        }
        
        
        &-wortmarke, &-toggler {
            display: block;
        }

        &-list {
            flex-direction: column;
            padding-top: 15rem;
            gap: 1rem;
        }
        &-link{
            text-shadow: none;
            &:hover {
                color: var(--ftt-black);
                border-bottom: none;
            }
            &.active{
                color: var(--ftt-black);
                border-bottom: 1px solid var(--ftt-black);

            }
        }

        &-menu {
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100% !important;
            height: 0;
            opacity: 0;
            visibility: hidden;
            background-color: var(--ftt-primary);
            overflow: hidden;

            &.open {
                height: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}